
<h1 class="text-center"><strong>Les équipes</strong></h1>
<ul>
  <% @teams.each do |team| %>
 <div class="card-padded">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="card">
              <div class="card-category"><%= team.name %></div>
              <div class="card-description">
                <h3><%= team.city%></h3>
              </div>
              <%= image_tag "logo.png", class:"card-user avatar avatar-large" %>
              <%= link_to "", team_path(team), class:"card-link" %>
              <!-- <a class="card-link" href="team_path(team)" ></a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
</ul>

