<div id="square" class="padded">
  <div  id="leftSquare"></div>
  <div id="rightSquare">
    <h1 class="text-center padded-top">INVITE TES AMIS!</h1>
      <div id="container">
        <div class="row">
          <div class="col-xs-12 col-sm-offset-3 col-sm-4">
            <div class="padded">
              <p>Partage ce lien avec tes amis :</p>
              <br>
              <%= link_to_send = request.protocol + request.host_with_port + "/join_team" + @team.id.to_s %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-offset-3 col-sm-8">
            <div id="shareBtn" class="button-black clearfix"> Invite tes amis avec Facebook </div>
            <%= link_to "Plus tard", teams_path ,class:"button-black" %>
          </div>
        </div>
      </div>
  </div>
</div>

<!-- INVITE FRIENDS ON FACEBOOK -->
<%= render "shared/fb_sdk" %>
<% content_for(:after_js) do %>
  <script>
    document.getElementById('shareBtn').onclick = function() {
      var referal_url = "<%= link_to_send = request.protocol + request.host_with_port + "/join_team" + @team.id.to_s %>";
      console.log(referal_url);
      FB.ui({
        method: 'send',
        // display: 'popup',
        link: referal_url,
        });
    }
  </script>
<% end %>

