<div id="square" class="padded">
  <div  id="leftSquare"></div>
  <div id="rightSquare">
    <h2 class="text-center padded-top">Invite tes amis!</h2>
      <div id="container-input" style="padding: 2em margin-left:20px margin-top:100px">
        <%= link_to_send = request.protocol + request.host_with_port + "/join_team" + @team.id.to_s %>
      </div>
        <div id="shareBtn" class="btn btn-success clearfix">Share</div>
        <%= link_to "Continuer", teams_path ,class:"button-black" %>
  </div>
</div>

<!-- INVITE FRIENDS ON FACEBOOK -->
<%= render "shared/fb_sdk" %>
<% content_for(:after_js) do %>
  <script>
    document.getElementById('shareBtn').onclick = function() {
      var referal_url = "<%= link_to_send = request.protocol + request.host_with_port + "/join_team" + @team.id.to_s %>";
      console.log(referal_url);
      FB.ui({
        method: 'send',
        // display: 'popup',
        link: referal_url,
        });
    }
  </script>
<% end %>

