<div class="wrapper">
  <div class="container">
    <div class="row">
        <div class="padded-heavy text-center">
          <h1>Welcome to Team8, brother!</h1>
        </div>
      <div class="col-xs-12 col-sm-offset-4 col-sm-8">
        <form class="form-inline padded-light">
          <div class="form-group form-group-lg">
            <label for="team-city"></label>
            <input type="text" class="form-control" id="team-city" placeholder="Paris">
          </div>
          <%= link_to "Search", teams_path, class: "btn btn-default btn-lg" %>
        </form>
      </div>
    </div>
  </div>
</div>
