
<div class="banner-home " style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%;">
  <div class="banner-content">
    <h1>Bienvenue sur Team<strong>8</strong></h1>
    <p>Crée ton équipe et organise des matchs contre des joueurs proche de chez toi</p>
    <%= link_to "Creation d'équipe", new_captain_team_path, class:"button-orange button-orange-go" %>
  </div>
</div>
