
<div class="banner-home " style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%;">
  <div class="banner-content">
    <h1>Bienvenue sur Team<strong>8</strong></h1>
    <p>Crée ta Team et organise des matchs contre des joueurs proches de chez toi</p>
    <%= link_to "Créer ma TEAM", new_team_path, class:"button-black" %>
  </div>
</div>
