/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

.full-height {
  height: 100vh;
}

.full-width {
  width: 100vw;
}

.padded-light {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: 2em;
  padding-left: 2em;
}

.padded-heavy {
  padding-top: 9em;
  padding-bottom: 9em;
}

.padded-top {
  padding-top: 70px;
}

.padded-top-light {
  padding-top: 15px;
}

.padded-top-lighter {
  padding-top: 5px;
}

.padded-top-medium {
padding-top: 30px;
}

.padded-bottom {
  padding-bottom: 70px;
}

.padded-bottom-light {
  padding-top: 40px;
}

.padded-ultra-light {
  padding-top: 70px;
  padding-bottom: 50px;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}

.bg-light-grey {
background: $light-grey ;
}

.rounded {
  border-radius: 5px;
}

.center {
  margin: 0 auto;
}

.margin-bottom-light {
  margin-bottom: 35px;
}

.flexbox-center-container {
  display: flex;
  justify-content: center;
}

.background-white {
  background-color: white;
  background-size: cover;
  background-position: center, center;
  background-attachment: fixed;
}

.text-unstyled-accept {
  text-decoration: none;
  color: $white;
}

.text-unstyled-accept:hover {
 text-decoration: none;
 color: green;
}

.text-unstyled h2{
  text-decoration: none;
  color: $orange;
}

.text-unstyled a:hover {
  text-decoration: none;
}

.text-unstyled h2:hover {
  text-decoration: none;
}

.button-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

//PAGE INVITATION


.banner-invitation {
  background-image: asset-url("equipe.jpg");
  text-align: center;
  min-height:100%;
  height: 100vh;
  top: 0px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-invitation h1 {
  color: $white;
  font-size: 80px;
  font-weight: bold;
  text-shadow: 0px 3px rgba($orange, 0.5);
}
.banner-invitation p {
  font-size: 30px;
  font-weight: light;
  color: $white;
  margin-bottom: 20px;
  text-shadow: 1px 1px rgba($black, 0.8);
}

.banner-invitation strong {
  color: $orange;
  font-weight: bold;
}


.margin-right {
  margin-right: 10px;
}
