/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  position: absolute;
  top: 0px;
  height: 70px;
  width: 100%;
}
.alert-info {
  background: transparent;
  color: transparent;
}
.alert-warning {
  background: transparent;
  color: transparent;
}
