/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: $white;
  position: absolute;
  top: 0px;
  height: 70px;
  width: 100%;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
  color: $white;
  padding-top: 2px;
}
