.flexbox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius : 3px;
  color: white;
}

.flexbox-item {
  flex: center;
}

.team-name {
  color: white;
}

.background-team {
  background-color: $light-grey;
  border-radius: 5px;
}

.detail {
  color: white;
}

.content-page {
  border-radius : 10px;
}
