#square {
  position: relative;
  // width: 840px;
  height: 100vh;
  display: block;
  margin: auto;
  z-index: 3;
  width: 100%;
}

#leftSquare {
  width: 40%;
  display: block;
  margin:  auto;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-image: asset-url("panier.jpg");
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.5), 0 0px 20px 0 rgba(0, 0, 0, 0.4);
  background-size: cover;
  border-radius: 0%;
}

#rightSquare {
  width: 60%;
  display: block;
  margin:  auto;
  height: 100%;
  position: absolute;
  top: 0%;
  right: 0%;
  background-image: linear-gradient(to left, $black, $gray);
  background-size: cover;
  border-radius: 0%;
  z-index: 1;
  color: rgba($white, 0.9);
}


#title{
  position: absolute;
  left: 15%;
  font-size: 4em;
  font-weight: 400;
  text-align: center;
  z-index: 3;
}

#container-input {
  margin-top: 3%;
  margin-left: 5%;
  padding-right: 5%;
}

#container-input:focus {
  border-color: $orange;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba($orange, 0.6);
}

.button-input {
  display: block;
  margin-left: 35%;
  margin-top: 15%;
}

.form-input {
  background: transparent;
  color: white;
  border: 0;
  border-bottom: 1px solid rgba($orange, 0.5);
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
}

.form-input:focus {
  border-bottom: 2px solid $orange;
  box-shadow: inset 0 2px 2px -2px rgba($white, 0.075), 0 4px 2px -2px rgba($orange, 1);
  border: 0;
  color: white;
  font-style: $base-font;
}



