.bg-card-user {
  background-color: rgba($gray,0.85);
  color: $white;
}

.registration-margin {
  margin-top: 5em;
}

.background-profile {
  padding: 20px;
  background-image: asset-url("basketball1.jpg");
  background-size: cover;
}

